@import "variables";

#main .inside::before {
  position: absolute;
  content: '';
  width: 150%;
  height: 200px;
  top: -200px;
  left: -25%;
  background: #009ce0;
  border-top: 200px solid #f49600;
  transform: rotate(-8deg);
}

#karte, #karte-tree {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 26vh;
  position:absolute;
  z-index: 999;
  img {
    max-width:75vw;
  }
  .eisenach, .altenburg, .meiningen, .apolda,
  .gotha, .leinefelde, .muehlhausen, .nordhausen,
  .ohra, .saalfeld, .sondershausen, .weimar {
    &:focus {
      outline: 0;
    }
  }
}

#karte .eisenach, #karte-tree .eisenach  {
  left: 14.2%;
  top: 43.5%;
  position: absolute;
}

#karte .altenburg, #karte-tree .altenburg  {
  left: 89%;
  top: 41.5%;
  position: absolute;
}

#karte .meiningen, #karte-tree .meiningen {
  left: 15.2%;
  top: 72.5%;
  position: absolute;
}

#karte .apolda, #karte-tree .apolda {
  left: 55%;
  top: 39.5%;
  position: absolute;
}

#karte .gotha, #karte-tree .gotha  {
  left: 27%;
  top: 47%;
  position: absolute;
}

#karte .leinefelde, #karte-tree .leinefelde {
  /*left: 13.7% !important;
  top: 18.5% !important;*/
  left: 11.7% !important;
  top: 14.5% !important;
  position: absolute !important;
}

#karte .muehlhausen, #karte-tree .muehlhausen {
  left: 17.7%;
  top: 26.5%;
  position: absolute;
}

#karte .nordhausen, #karte-tree .nordhausen {
  left: 26.7%;
  top: 11.5%;
  position: absolute;
}

#karte .ohra, #karte-tree .ohra {
  left: 23.2%;
  top: 49.5%;
  position: absolute;
}

#karte .saalfeld, #karte-tree .saalfeld  {
  left: 48%;
  top: 65%;
  position: absolute;
}

#karte .sondershausen,#karte-tree .sondershausen {
  left: 31%;
  top: 19%;
  position: absolute;
}

#karte .weimar, #karte-tree .weimar {
  left: 49.7%;
  top: 43.5%;
  position: absolute;
}

#karte, #karte-tree {
  h1, h2 {
    margin-top:0;
    font:1.6em 'Exo 2',sans-serif;
    color:#fff;
    text-transform:uppercase;
    font-weight: 400;
  }
  p {
    margin-bottom:20px;
    font:1em/1.3em 'Exo 2',sans-serif;
    color:#fff;
    font-weight: 400;
  }
  .tooltip a.more {
    width:100%;
    display:block;
    padding-top:15px;
    border-top:1px solid #fff;
    /*padding-left: 34px;*/
    position: relative;
    font:1.4em/1.3em 'Exo 2',sans-serif;
    font-style:italic;
    text-decoration:none;
    color:#fff;
    font-weight: 200;
  }
}

#karte .tooltip a.more:hover,
#karte .tooltip a.tooltip-close:hover {
  background-color:rgba(0,0,0,.01);
}

#karte .tooltip a.more:before, #karte-tree .tooltip a.more:before {
  /*position: absolute;
  content: "";
  background: url("/files/layout/more.png") no-repeat;
  width: 40px;
  height: 38px;
  left: 0;
  top: 7px;*/
  margin-left: -7px;
  content: url('/files/layout/more.png');
  position: relative;
  top: 3px;
}

#main .Headline {
  /*width:50%;
  float:left;*/
  padding-bottom: 50px;
  p {
    max-width:630px;
    margin-right:auto;
    margin-left:auto;
   /* padding-bottom:19px;*/
    text-align:center;
    font:2em/1.6em 'Exo 2',sans-serif;
    color:#fff;
    text-transform:uppercase;
    font-weight: 300;
  }
  hr {
    height:1.5px;
    max-width:475px;
    margin-right:auto;
    margin-left:auto;
    background-color:#fff;
    border:0px;
  }
}

#main .liste {
  width: 100%;
}

#main .home-teaser{
  padding-bottom: 155px;
  .teaser {
    p {
      font: 1.2em "Exo 2", sans-serif;
      line-height: 1.5em;
    }
  }
}

.teaser {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

#main {
  h1 {
    margin-bottom:50px;
    font:3.6em 'Exo 2',sans-serif;
    color:#fff;
    text-transform:uppercase;
  }
  h2 {
    font:2.2em 'Exo 2',sans-serif;
    color:#fff;
    text-transform:uppercase;
    font-weight: 600;
  }
  p {
    font:1.6em 'Exo 2',sans-serif;
    color:#fff;
    font-weight: 200;
    a {
      font-family:'Exo 2',sans-serif;
      text-decoration:none;
      color:#002c4c;
      font-weight: 200;
    }
  }
}

.tree-planting{
  background: $blue;
  transform: rotate(8deg) skew(8deg);
  width: calc(100% + 60px);
  margin-left: -35px;
  padding-bottom: 350px;
  padding-top: 80px;
  border-top: 100px solid $green;
  position: relative;
/*  margin-top: -140px;*/
  margin-top: -175px;
  z-index: 205;
  /*position: relative;
  height: auto;
  &:before {
    position: absolute;
    content: '';
    width: 150%;
    height: 200px;
    top: -200px;
    left: -25%;
    background: $blue;
    border-top: 100px solid $green;
    transform: rotate(8deg);
  }*/
}

.planting-image {
  transform: rotate(-8deg) skew(-8deg);
  position: relative;
  padding-bottom: 100px;
  width: 850px;
  margin: 150px auto 0;
  .image_container {
    display: flex;
    justify-content: center;
    img {
      width: 1000px;
    }
  }
}

#main .content {
  transform: rotate(-8deg) skew(-8deg);
  padding-bottom: 100px;
  padding-top: 70px;
  h2 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 2px solid;
    padding-bottom: 15px;
    font-weight: 200;
  }
  h3 {
    text-align: center;
    font: 1.2em "Exo 2", sans-serif;
    color: white;
  }
  p {
    font: 1.2em "Exo 2", sans-serif;
    line-height: 1.5em;
    font-weight: 200;
  }
}

.map-tree {
  position: relative;
  z-index: 210;
  overflow: visible;
  height: 603px;
  transform: translateY(-335px);
  #karte-tree {
    top: 0;
    position: absolute;
    img {
      width: 910px;
    }
    .tooltip-item {
      img {
        width: 80px;
      }
    }
  }
}

#karte-tree .tooltip-content {
  width: 300px;
  h2 {
    font: 1.4em "Exo 2", sans-serif;
  }
  p {
    font: 0.9em "Exo 2", sans-serif;
  }
}

#karte-tree .weimar {
  left: 47.7%;
  top: 36.5%;
}

#karte-tree .apolda {
  left: 54%;
  top: 29.5%;
}
#karte-tree .muehlhausen {
  /*left: 15.7%;
  top: 21.5%;*/
  left: 17.7%;
  top: 22.5%
}

#karte-tree .leinefelde {
  left: 10.7% ;
  top: 8.5%;
}

#karte-tree .nordhausen {
  left: 27.7%;
  top: 0.5%;
}

#karte-tree .ohra {
  left: 21.2%;
  top: 45.5%;
}

#karte-tree .sondershausen {
  left: 30%;
  top: 12%;
}


#karte-tree .altenburg {
  left: 88%;
  top: 34.5%;
}

#karte-tree .saalfeld {
  left: 48%;
  top: 59%;
}

#karte-tree .altenburg {
  left: 88%;
}

#karte-tree .eisenach {
  left: 12.2%;
  top: 39.5%;
}


#karte-tree .apolda, #karte-tree .nordhausen, #karte-tree .ohra {
  .tooltip-content {
    background-color: rgba(96, 177, 44, .8);;
    &:after {
      border-color: transparent rgba(96, 177, 44, .8) rgba(96, 177, 44, .8)  transparent;
    }
  }
}

#karte-tree .weimar, #karte-tree .altenburg {
  .tooltip-content {
    background-color: rgba(115, 160, 38, .8);
    &:after {
      border-color: transparent rgba(115, 160, 38, .8) rgba(115, 160, 38, .8)transparent;
    }
  }
}

#karte-tree .saalfeld, #karte-tree .sondershausen, #karte-tree .muehlhausen {
  .tooltip-content {
    background-color: rgba(162, 162, 162, .8);
    &:after {
      border-color: transparent rgba(162, 162, 162, .8) rgba(162, 162, 162, .8) transparent;
    }
  }
}

#karte-tree .eisenach, #karte-tree .leinefelde {
  .tooltip-content {
    background-color: rgba(172, 170, 170, .8);
    &:after {
      border-color: transparent rgba(172, 170, 170, .8) rgba(172, 170, 170, .8)transparent;
    }
  }
}

.counter-block {
  position: relative;
  img {
    width: 100%;
   /* height: 50vh;*/
    object-fit: cover;
  }
}

.counter-block {
  position: relative;
  .counter-box {
    position: absolute;
    bottom: 40px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #002c4c;
    padding: 50px 70px 50px;;
    z-index: 210;
    #counter {
      color: #009ce0;
      text-align: center;
      span {
        position: relative;
        background-color: #009ce0;
        color: white;
        margin: 0 5px;
        padding: 0 10px;
        font-size: 57px;
        font-weight: 600;
        font-family: "Exo 2", sans-serif;
        &:before {
          position: absolute;
          width: 100%;
          height: 8px;
          left: 0;
          top: 50%;
          content: " ";
          z-index: 2;
          transform: translateY(-50%);
          border-bottom: 1px solid #837f7f8c;
        }
      }
    }
    h3 {
      border-top: 2px solid;
      padding-top: 10px;
      font: 1.6em "Exo 2", sans-serif;
      color: #002c4c;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
    }
    &:after {
      position: absolute;
      bottom: -68px;
      left: -5%;
      width: 110%;
      height: 100px;
      content: '';
      background: #002c4c;
      transform: rotate(8deg);
    }
  }
}

#main .liste ul a span {
  display: none;
}


.mobile-only {
  display: none;
}


.mobil #karte, .mobil #karte-tree {
  display:none;
}

.target-tooltip,
.ntooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

.target-tooltip a.tooltip-trigger,
.ntooltip {
  width:2vw;
  height:2vw;
  max-width:25px;
  max-height:25px;
  display:block;
  background-color:#fff;
  border:7px solid #005a8f;
  border-radius: 25px;
}

.target-tooltip .tooltip,
.ctooltip {
  position: absolute;
  background: url(../img/shape1.svg) no-repeat center bottom;
  background-size: 100% 100%;
  z-index: 9999;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  padding: 50px 30px;
  text-align: center;
  color: #fff;
  opacity: 0;
  cursor: default;
  font-size: 0.55em;
  line-height: 1.4;
  pointer-events: none;
  font-family: 'Kalam', cursive;
  -webkit-transform: scale3d(0.1,0.2,1);
  transform: scale3d(0.1,0.2,1);
  -webkit-transform-origin: 50% 120%;
  transform-origin: 50% 120%;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
  transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
}
.target-tooltip .tooltip:before {
  border-color:rgba(0,44,76,.93);
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  bottom: 55px;
  border: 20px solid;
  border-color: transparent rgba(0,44,76,.93) rgba(0,44,76,.93) transparent;
}
.target-tooltip .tooltip a {
  color:rgba(0,0,0,.3);
  font-weight: 700;
}
.target-tooltip .tooltip-close {
  width:25px;
  height:25px;
  background-image:url("files/layout/close.png");
  background-position:left top;
  background-repeat:no-repeat;
  position: absolute;
  right: 4%;
  top: 4%;
  text-decoration: none;
}

.target-tooltip a.tooltip-trigger:hover,
a.ntooltip:hover .ctooltip {
  opacity: 1 !important;
  pointer-events: auto !important;
  -webkit-transform: scale3d(1,1,1) !important;
  transform: scale3d(1,1,1) !important;
}

@media screen and (max-width: 1280px) {
  #main .inside::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 100px;
    top: -255px;
    left: -25%;
    background: #009ce0;
    border-top: 150px solid #f49600;
    transform: rotate(-8deg);
  }

  #karte, #karte-tree {
    position: relative !important;
  /*  margin-top: 55px;*/
    text-align: center;
    left: auto !important;
    transform :none !important;
    top: 0;
  }

  #karte .eisenach,  #karte-tree .eisenach {
    left: 22.9%;
    top: 43.5%;
  }
  #karte .meiningen, #karte-tree .meiningen  {
    left: 23.2%;
  }
  #karte .altenburg, #karte-tree .altenburg {
    left: 79%
  }
  #karte .gotha,  #karte-tree .gotha  {
    left: 33%;
  }
  #karte .leinefelde, #karte-tree .leinefelde {
    left: 21.7% !important;
  }
  #karte .muehlhausen, #karte-tree .muehlhausen  {
    left: 25.7%;
  }
  #karte .nordhausen, #karte-tree .nordhausen  {
    left: 32.7%;
  }
  #karte .ohra, #karte-tree .ohra  {
    left: 29.9%;
  }
  #karte .sondershausen, #karte-tree .sondershausen  {
    left: 37%;
  }

  .liste.mobile-only {
    display: block;
  }

  .map-tree {
    height: auto;
    margin-top: -335px;
    transform: translateY(0);
    
  }

  #main .home-teaser {
    width: 100%;
    .liste {
      padding-top: 180px;
    }
  }

  #main .liste ul{
    a {
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
      font: 1.6em 'Exo 2',sans-serif;
      span {
        display: block;
        position: relative;
        max-width: 610px;
        margin-left: auto;
        margin-right: auto;
        text-transform: capitalize;
        padding-left: 50px;
        &:before {
          position: absolute;
          content: "";
          background: url("/files/layout/more.png") no-repeat 0/cover;
          top: -4px;
          left: 20px;
          width: 30px;
          height: 32px;
        }
      }
    }
  }

  #main {
    margin-top: 140px;
    .Headline {
      display:none;
    }
  }

  #main .liste {
    width:100%;
    ul {
      max-width:100%;
      a {
        padding-right:50px;
        padding-left:50px;
        display: flow-root;
        margin-bottom:0;
        li {
          max-width: 610px;
          margin-left: auto;
          margin-right: auto;
          border-bottom: 1px solid #fff;
          padding-bottom: 8px;
          margin-bottom: 8px;
          &:after {
            margin-top:55px;
        /*    border-top:1px solid #fff;*/
            font-style:italic;
            text-transform:none;
            content: url("/files/layout/more.png") "zur Website";
            width: 100%;
            font-weight: 300;
            float: none !important;
            /*display: block;*/
            right: 0;
            display: none;
          }
        }
      }
    }
  }
  #main .liste ul a {
    border-color:#002c4c;
    &.a {
      background-color:#00a0e2;
      border-top:1px solid #002c4c;
    }
    &.b {
      background-color:#00a5e4;
    }
    &.c {
      background-color:#00aae6;
    }
    &.d {
      background-color:#00aee8;
    }
    &.e {
      background-color:#00b4ea;
    }
    &.f {
      background-color:#3dbeee;
    }
    &.g {
      background-color:#59c3f0;
    }
    &.h {
      background-color:#6fc9f1;
    }
  }

  .teaser {
    width: 90%;
  }
  .mobile-only {
    display: block;
  }
  .mobil #karte, .mobil #karte-tree  {
    display:block;
  }
  .desktop #karte, .desktop #karte-tree  {
    display:none;
  }
  .map-tree #karte-tree {
    .weimar, .saalfeld, .apolda, .muehlhausen,
    .leinefelde, .nordhausen, .ohra, .sondershausen,
    .altenburg, .eisenach {
      img {
        width: 60px;
      }
    }
  }

  .counter-block img {
    height: 70vh;
  }
}

@media screen and (max-width: 990px) {
  /*.mobil #karte, .mobil #karte-tree  {
    display:block;
  }
  .desktop #karte, .desktop #karte-tree  {
    display:none;
  }
  .map-tree #karte-tree {
    .weimar, .saalfeld, .apolda, .muehlhausen,
    .leinefelde, .nordhausen, .ohra, .sondershausen,
    .altenburg, .eisenach {
      img {
        width: 60px;
      }
    }
  }
  .mobile-only {
    display: block;
  }*/
  .counter-block .counter-box {
    padding: 45px 30px 50px;
    h3 {
      font-size: 1.3em;
    }
  }
  #main .liste ul a {
    font: 1.4em "Exo 2", sans-serif;
  }
}

@media screen and (max-width: 850px) {
  .planting-image .image_container img {}
  .planting-image {
    width: 90%;
    max-width: 1000px;
  }
}

@media screen and (max-width: 730px) {
  .mobil #karte {
    img {
      width: 90%;
      max-width: 100%;
    }
  }
  #main .home-teaser .liste {
    padding-top: 60px;
  }

  #main .teaser.content {
    width: 80%;
  }

  .map-tree #karte-tree {
    img {
      width: 90%;
      max-width: 100%;
    }
  }
  #main .liste ul a span {
    padding-left: 35px;
    &:before {
      top: -7px;
      left: 3px;
    }
  }
}

@media screen and (max-width: 600px) {
  .map-tree #karte-tree {
    top: 100px;
  }
  #karte, #karte-tree {
    top: 100px;
  }

  #main .liste ul a {
    font: 1.2em "Exo 2", sans-serif;
    padding-bottom: 25px;
  }
  #main .liste ul a li::after {
    font-size: 22px;
    margin-top: 40px;
  }

 /* #main .liste ul a span {
    padding-left: 30px;
    font-size: 22px;
    &:before {
      left: 0;
      top: -7px;
    }
  }*/
}

@media screen and (max-width: 450px) {
  #karte, #karte-tree {
    top: -10px;
  }
  #main .inside::before {
    border-top: 80px solid #f49600;
  }
  #main .home-teaser .liste {
    padding-top: 0px;
  }
  #main .liste ul a {
    font-size: 20px;
    li::after {
      margin-top: 65px;
    }
    & > li#eisenach {
      font-size: 19px;
    }
    & > li#gotha::after, & > li#ohra::after, & > li#weimar::after{
      margin-top: 45px;
    }
  }

  .counter-block .counter-box {
    padding: 37px 0 35px;
    width: 75%;
    margin: 0 auto;
    height: 120px;
   /* bottom: 20px;*/
    bottom: 40px;
    h3 {
      font-size: 1.1em;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
    #counter {
      span {
        margin: 0 3px;
        padding: 5px 8px;
        font-size: 35px;
      }
    }
  }

  .tree-planting {
    padding-bottom: 200px;
  }

  .planting-image {
    margin: 70px auto 0;
  }

  #main .teaser.content {
    width: 70%;
    padding-bottom: 0;
    h2 {
      font-size: 1.6em;
    }
  }

  .map-tree {
    margin-top: -230px;
  }
  .map-tree #karte-tree {
    .weimar, .saalfeld, .apolda, .muehlhausen,
    .leinefelde, .nordhausen, .ohra, .sondershausen,
    .altenburg, .eisenach {
      img {
        width: 30px;
      }
    }
  }
}


